<!DOCTYPE html>
<html>

<head>
	<title>Pinacoteca - Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	<h1 class="barra"> Questi sono gli artisti!</h1>

	<div th:if="${message!=null}">
		<p th:text="${message}"></p>
	</div>

	<span th:if="${message == null}">
		<div class="riquadro-flex">
			<ul>
				<li th:each="artista : ${artisti}">
					<strong>Nome:</strong> <span th:text="${artista.nome}"></span> |
					<strong>Cognome:</strong> <span th:text="${artista.cognome}"></span> |
					<strong>AnnodiNascita:</strong> <span th:text="${artista.dataDiNascita}"></span> |
					<strong>AnnodiMorte:</strong> <span th:if="${artista.dataDiMorte == null}">non è presente</span>
					<span th:unless="${artista.dataDiMorte == null}" th:text="${artista.dataDiMorte}"></span> |
					<strong>LuogodiNascita:</strong> <span th:text="${artista.luogoDiNascita}"></span>
					<a th:href="@{'/admin/formUpdateArtista/'+ ${artista.id}}" class="modifica"> modifica</a>
				</li>

			</ul>
		</div>


		<div class="indietro">
			<a href="/admin/gestioneArtisti"> <strong>indietro</strong></a>
		</div>
	</span>
</body>

</html>