<!DOCTYPE html>
<html>

<head>
	<title>
		Pinacoteca - GestioneArtisti
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<h1 class = "barra"> PINACOTECA - GESTIONE ARTISTI</h1>
	<div class="barraUscita">
		<a href="/admin/gestioneArtisti/artisti"> <strong>Elenco Artisti</strong></a>
		</div>
		<div class="barraUscita">
	<a href="/admin/gestioneArtisti/formNewArtista"> <strong>Inserisci Artista</strong></a>
	</div>
	<div class = "indietro">
	<a href="/"> <strong>Indietro</strong></a>
	</div>
</body>

</html>