<!DOCTYPE html>
<html>

<head>
	<title>
		Pinacoteca - GestioneOpere
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<h1 class = "barra"> PINACOTECA - GESTIONE OPERE</h1>
	<div class="barraUscita">
		<a href="/admin/gestioneOpere/opere"> <strong>Elenco Opere</strong></a>
		</div>
		<div class="barraUscita">
	<a href="/admin/gestioneOpere/formNewOpera"> <strong>Inserisci Opera</strong></a>
	</div>
	<div class = "indietro">
	<a href="/"> <strong>Indietro</strong></a>
	</div>
</body>

</html>