<!DOCTYPE html>
<html>

<head>
	<title>
		Pinacoteca - GestioneCuratore
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<h1 class = "barra"> PINACOTECA - GESTIONE CURATORI</h1>
		<div class="barraUscita">
			<a href="/admin/gestioneCuratori/curatori"> <strong>Elenco Curatori</strong></a>
			</div>
			<div class="barraUscita">
		<a href="/admin/gestioneCuratori/formNewCuratore"> <strong>Inserisci Curatore</strong></a>
		</div>
		<div class = "indietro">
		<a href="/"> <strong>Indietro</strong></a>
		</div>
</body>

</html>